body {
    background-color: lightcyan;
}
h1{
    text-align: center;
    font-family: Helvetica, sans-serif;
    color:darkslategray;
    font-size: 30px;
}
h2{
    font-family: Helvetica, sans-serif;
    color:darkblue;
}

h3{
    text-align: center;
    font-family: Helvetica, sans-serif;
    color:darkblue;
}

#pbio {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(60, 49, 77);
    width: 70%;
  }

#border{
    border-style: dotted;
    position:relative;
    top:0;
    left:0;
    float:right;
}

#table{
    margin-left: auto;
    margin-right: auto;
}

#catpic {
    filter: drop-shadow(10px 10px 4px darkslategray);
    float: left;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}
  